.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.footer .beian-link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #000000a6;
}
.footer .beian-link img{
  width: 20px;
  margin-right: 5px;
}
.footer .beian-link a{
  color: #000000a6;
}


.ant-menu-item-selected{
    border-radius: 0 !important;
    border-bottom: 2px solid #ff9201;
}

.ant-pro-top-nav-header-menu ul{
    justify-content: center;
}

.ant-list-footer{
    text-align: center;
}

/* Scrollbar */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #397524 #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 3px;

    /* background-color: #FFF; */
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #EEE;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #EEE;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ff9201;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #ff9201;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #ff9201;
  }
  